<!DOCTYPE html>
<html>
  <head>
    <title>Numerai Dashboard</title>
    <link href= "../style/reset.css" rel= "stylesheet">
    <link href= "../style/base.css" rel= "stylesheet">
    <link href= "../style/layout.css" rel= "stylesheet">
    <link href= "../style/modules.css" rel= "stylesheet">
  </head>
  <body>
    <header>
      <h1>Round Closed At: <%=roundCloseDate%></h1>
      <h2>Latest NMR Price <%=nmrPrice%></h2>
    </header>
    <main>
    </main>
    <footer>

    </footer>
    <script src= '/app.js'></script>
  </body>
</html>