<!DOCTYPE html>
<html>
  <head>
    <title>Numerai Dashboard</title>
    <link href= "../style/reset.css" rel= "stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href= "../style/base.css" rel= "stylesheet">
    <link href= "../style/layout.css" rel= "stylesheet">
    <link href= "../style/modules.css" rel= "stylesheet">
  </head>
  <body>
    <header> 
      <h1>NMRai Dashboard</h1>
    </header>
    <main>
      <form action = "/detail" method ="POST">
        <label>Username</label>
        <input type = "text" name = "username"></input>
        <input type=submit></input>
      </form>
    </main>
    <footer>

    </footer>
    <script src= '/app.js'></script>
  </body>
</html>